@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;500;600&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --primary-background: #313146;
  --primary-color: #f5f6f7;
  --logo-background: #0a0a23;
  --salmon: #f0aea9;
  --light-skyblue: #8bd9f6;
  --light-brown: #f8b172;
  --light-green: #93cb5b;
  --dark-green: #6bca6b;
  --light-orange: #f1ba33;
  --dark-orange: #f9aa23;
  --coral: #f28373;
  --blue-green: #5eafa0;
  --border-color: #3c3b48;
  --primary-text: #d1d1d1;
  --dark-text: #000;
}

body {
  background-color: var(--primary-background);
  color: var(--primary-color);
  font-family: "Poppins", sans-serif;
}

main > h1 {
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  margin-top: 25px;
  text-align: center;
}

nav {
  position: sticky;
  width: 100%;
  height: 52px;
  background: var(--logo-background);
  top: 0;
  left: 0;
  display: grid;
  place-items: center;
}

#fcc-logo {
  width: 267px;
  height: 32px;
  margin-top: 0.28rem;
}

.career {
  background: var(--salmon);
}

.feedback,
.html-css {
  background: var(--light-skyblue);
}

.support {
  background: var(--light-brown);
}

.general {
  background: var(--light-green);
}

.javascript {
  background: var(--light-orange);
}

.backend-development {
  background: var(--dark-orange);
}

.python {
  background: var(--dark-green);
}

.motivation {
  background: var(--coral);
}

.contributors {
  background: var(--blue-green);
}

/* styling for table and table heads */

table {
  width: 85vw;
  margin: auto;
  margin-top: 25px;
  border-collapse: collapse;
}

th button {
  font-size: 22px;
  font-weight: 300;
  font-family: "Poppins", sans-serif;
  background-color: var(--primary-background);
  color: var(--primary-color);
  padding: 0.25em 0.75em;
  border: none;
  transition: 0.5s background-color;
  cursor: pointer;
}

th button:hover {
  background-color: rgba(209, 209, 209, 0.3);
}

thead {
  border-bottom: 1px solid var(--primary-color);
  line-height: 60px;
}

tbody > tr {
  font-size: 20px;
  border-bottom: 1px solid var(--border-color);
  text-align: center;
}

td {
  padding: 20px 10px;
}

a {
  text-decoration: none;
}

.post-title {
  color: var(--primary-text);
}

.post-topic {
  text-align: left;
}

.post-category {
  display: flex;
  margin-top: 2px;
}

.post-category > a {
  color: var(--dark-text);
  font-size: 16px;
  padding: 0 4px;
}

.post-summary {
  font-size: 75%;
}

.post-read-more {
  color: var(--primary-text);
  text-decoration: underline;
}

.topics {
  width: 60%;
  text-align: left;
  padding-left: 10px;
}

.posters {
  width: 15%;
}

.activity {
  padding-right: 10px;
}

.postersAvatars {
  display: flex;
  gap: 7px;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.views,
.post-views,
.activity,
.post-activity {
  display: none;
}

@media (min-width: 992px) {
  .views,
  .post-views {
    display: table-cell;
  }
}

@media (min-width: 768px) {
  .activity,
  .post-activity {
    display: table-cell;
  }
}
